<h1> Edit restaurant </h1>

<%=  form_for @restaurant do |f| %>
  <%= f.text_field :name, placeholder: " restaurant name" %>
  </br>
  </br>
  <%= f.text_field :phone_number, placeholer: " phone number" %>
  </br>
  </br>
  <%= f.text_field :address, placeholer: "address" %>
  </br>
  </br>
  <%= f.text_field :category, placeholder: 'Category of Restaurant?' %>
  </br>
  </br>
  <%= f.submit %>
<% end %>
</br>
</br>
<%= link_to 'Restaurants', restaurants_path %>